body,html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Dancing+Script', cursive;
    text-align: center;
}

header.startup h1 {
    font-size: 4rem;
    margin-bottom: 80px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    /* margin-top: 50px; */
}
header.text-shadow {
    color: #fcfafa;
}

hr {
    /* width: 80px; */
    max-width: 80px;
    border-width: 3px;
    border-color: #590808;
}


header.startup {
    background-position: center;
    background-image: url("chocolate-cake.jpg");
    background-size: cover;
    height: 100%;
}
/* 
header.startup hr{
    margin-top: 200px;
    margin-bottom: 30px;
} */

/* #mc-embedded-subscribe-form {
    text-align: center!important;
} */

.btn {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 300px;
    margin-top: 330px;
}

.btn-xl {
    padding: 1rem 2rem;
}

.btn-primary {
    background-color: brown;
    border-color: brown;
}

.btn-primary:hover {
    background-color: #590808;
    border-color: #590808;
    border-width: 5px;
    cursor: pointer;
}